<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">

            <!-- enctype="multipart/form-data" it allows entire files to be included in the data -->
            <!-- Multer is a node.js middleware for handling multipart/form-data, which is primarily used for uploading files -->
            <!-- we use multer middleware for parsing mutlipart form-data -->
            <form action="/campgrounds" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>

                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload images</label>
                    <div class="input-group">
                        <input type="file" class="form-control" id="image" name="image" multiple
                            aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="price-label">$</span>
                        <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price"
                            aria-describedby="price-label" name="campground[price]" required>
                    </div>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Add Campground</button>
                </div>
            </form>
        </div>
    </div>